h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #01AFDF;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    text-align: justify;
    padding-bottom: 2em;
}

img {
    width: 80px;
    height: 90px;
}

#policyUpdateDate {
    font-size: 14px;
    font-weight: bold;
}

.policyText {
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    line-height: 32px;
}