img {
    width: 80px;
    height: 90px;
}

#policyUpdateDate {
    font-size: 14px;
    font-weight: bold;
}

.policyText {
    font-family: 'Quicksand', sans-serif;
    text-align: left;
    line-height: 32px;
}