h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 48pt;
    font-weight: bold;
    margin-bottom: 30px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 16pt;
}

#iconDiv img {
    width: 80px;
    height: 90px;
}